@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import "./root.css";

body{
    font-family: Inter, -apple-system, BlinkMacSystemFont, SF Pro Display, SF Pro Text, Helvetica Neue, sans-serif;   
    line-height: 1.5;
    background-color: var(--main-color);
    color: var(--text-primary);
    font-size: 16px;
}

.wrap-main{
    position: relative;
    width: 100%;
    max-width: var(--content-max-width);
}

.center-wrap{
    padding-bottom: 48px;
    padding-top: 48px;
}

.wrap-center-content{
    display: flex;
    flex-direction: column;
    gap: 16px;
    
}

*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

#root{
    max-height: 100fr;
    height: 100vh;
    max-width: 100fr;
    scrollbar-width: thin;
    scrollbar-color: var(--text-primary) var(--main-color);
}

.bodys{
        min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


@media (max-width: 1173px) {
    .wrap-main{
        max-width: 100%;
    }

    body{
        padding: 0px 12px;
    }
}