.Login{
    margin-top: 100px;
    padding: 25px 20px;
    background-color: lightgray;
    border-radius: 15px;
    width: 40%;
}

.Login form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.Login h1{
    text-align: center;
}




.Registration{
    margin-top: 100px;
    padding: 25px 20px;
    background-color: lightgray;
    border-radius: 15px;
    width: 40%;
}

.Registration form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.Registration h1{
    text-align: center;
}