:root{
    --main-color: rgba(5, 6, 15, 1);
    --text-primary: #f5f5f5;
    --content-max-width: 650px;
    --sideBar-gap: 36px;
    --scrollbar-compensation: 0px;
    --block-bg: #222224;
    --text-secondary: rgba(255, 255, 255, .5);
    --btn-primary-bg:#ffffff;
    --btn-primary-text: black;
    --radius-full: 9999px;
    --spinner: 60px;
    --border-color: rgba(255, 255, 255, .1);
    --border-color-active: rgba(255, 255, 255, .5);
    --accent-primary: #0080FF;
    --tab-active-bg: rgba(255, 255, 255, .08);
    --padding: 4px;
    --glass-bg: rgba(47, 47, 47, .5);
}